<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="jumbotron">
            <h2> Log In </h2>
            
            <div class="horizontal-form">
            <%= form_for(:session, url: login_url) do |f| %>

                <div class="form-group">
                    <%= f.label :email, class: 'col-xs-4' %>
                    <div class="col-xs-8">
                        <%= f.email_field :email, class: 
                                         'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :password, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.password_field :password, class: 
                                          'form-control form-space' %>
                    </div>
                </div>

                <%= f.submit :Log_In, class: 'btn btn-info' %>
            <% end %>
        </div>
            
        </div>
    </div>
</div>
