 <% provide(:title, @current_user.name) %>


<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h2> Sign Up Today! </h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        
        <div class="horizontal-form">
            <%= form_for(@user) do |f| %>
            <%= render 'layouts/shared/error_messages' %>
                <div class="form-group">
                    <%= f.label :name, class: 'col-xs-4' %>
                    <div class="col-xs-8">
                        <%= f.text_field :name, class: 
                                         'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :email, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.email_field :email, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :password, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.password_field :password, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :password_confirmation, 'Confirmation', 
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.password_field :password_confirmation, class: 
                                             'form-control form-space' %>
                    </div>
                </div>

                <%= f.submit :Save_Changes!, class: 'btn btn-info' %>
            <% end %>
        </div>
        
    </div>
</div>