 <% provide(:title, @current_user.name) %>
<div class="row">
    <div class="col-xs-11 col-xs-offset-1 user-profile">
        <h2 class="fancy-title"> <%= "Hello #{@user.name}" %> </h2>
        
        <div class="row">
            <div class="col-xs-4">
                <h4 style="border-bottom: 0.5px solid #3b2e18"> Your Account </h4>
                <ul>
                    <li> Name: Edward Flynn </li>
                    <li> Email: catkeyball@gmail.com </li>
                    <li> <%= link_to 'Change details', edit_user_path %> </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <h4 style="border-bottom: 0.5px solid #3b2e18"> Your Cart </h4>
                <% if cart_empty? %>
                    <p> 
                        There are no items in your shopping cart
                        at the current time.
                    </p>
                <% else %>
                    <p> d </p>
                <% end %>
            </div>
        </div>
        
    </div>
</div>
    

