<% provide(:title, 'Home') %>

<div class="row">
    <div class="col-xs-12">
        <%= render 'layouts/banner' %>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <h2 class="main-headings">
            Welcome to Nature's Well
        </h2>
        <p class="intro-para ">
            Nature's Well is an online fruit and vegetable
            store. We are deadicated to improving the health
            and well being of our customers. We achieve this
            by offering the best freshest fruits and vegetable
            products.
            
        </p>
    </div>
</div>
        

       