 <% provide(:title, 'Store') %>

<div class="row">
    <div class="col-xs-8 offest-2">
        <h2>
            Browse Our Store
            <br />
            <small> Fresh Vegetables, Fruits and Juices </small>
        </h2>
    </div>
    
    
</div>