<div class="row">
    <div class="col-xs-4 col-xs-offset-4 cart-box">
    
        <div class="col-xs-12">
            <h3 class="fancy-title">
                Your Cart
            </h3>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <%= @cart.each do |id, quantity| %>
                    <% item = Item.find_by_id(id)%>
                    <p>
                        You have <%= quantity.to_s %> of the item '
                        <%= item.title %>' your cart.
                    </p>
                <% end %>

            </div>
        </div>
        
        <hr style="border-color:#3b2e18"/>
        <%= link_to 'Back to store', items, class: 'pull-left' %>
        <%= link_to 'clear cart', clearcart_path, class: 'pull-right' %>
    </div>
    
</div>
