<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h2> Edit <%= @item.title %> </h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12">
        
        <div class="horizontal-form">
            <%= form_for(@item) do |f| %>
            <div class="col-xs-4">
                <div class="form-group">
                    <%= f.label :title, class: 'col-xs-4' %>
                    <div class="col-xs-8">
                        <%= f.text_field :title, class: 
                                         'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :price, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :price, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :fat_level, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :fat_level, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :protein_level, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :protein_level, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :sugar_comtent, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :sugar_comtent, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :contains_nuts, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :contains_nuts, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :mixture, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :mixture, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :ingredients, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :ingredients, class: 
                                          'form-control form-space' %>
                    </div>
                </div>
                
                 <div class="form-group">
                    <%= f.label :catergory, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :catergory, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                
                <div class="form-group">
                    <%= f.label :description, class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_area :description, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                
            </div>
            
            
            <div class="col-xs-4">
                <div class="form-group">
                    <%= f.label :url,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :url, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :url_1,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :url_2, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :url_1,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :url_2, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :url_3,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :url_3, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :url_4,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :url_4, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
            </div>
            
            
            <!-- Nutrition-label fields -->
            <div class="col-xs-4">
                <div class="form-group">
                    <%= f.label :valueCalories,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueCalories, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueFatCalories,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueFatCalories, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueTotalFat,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueTotalFat, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueSatFat,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueSatFat, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueTransFat,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueTransFat, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                 <div class="form-group">
                    <%= f.label :valueCholesterol,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueCholesterol, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                 <div class="form-group">
                    <%= f.label :valueSodium,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueSodium, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                 <div class="form-group">
                    <%= f.label :valueTotalCarb,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueTotalCarb, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                 <div class="form-group">
                    <%= f.label :valueFibers,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueFibers, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                 <div class="form-group">
                    <%= f.label :valueSugars,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueSugars, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueProteins,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueProteins, class: 
                                             'form-control form-space' %>
                    </div>
                </div><div class="form-group">
                    <%= f.label :valueVitaminA,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueVitaminA, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueVitaminC,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueVitaminC, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueCalcium,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueCalcium, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :valueIron,
                                class: 'col-xs-4' %>
                     <div class="col-xs-8">
                        <%= f.text_field :valueIron, class: 
                                             'form-control form-space' %>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                <%= f.submit :Update, class: 'btn btn-info' %>
                </div>
            </div>
            <% end %>
        </div>
        
    </div>
</div>