<%= provide(:title, 'Store - Items') %>

<div class=" col-md-12">
  <h3 class="main-headings"> 
    Come and Browse <br />
      <small>
        Fruits, vegetables and Juices
      </small>
  </h3>
  
  
  <!-- Search Bar -->
  <div class="row">
      <div class="col-md-6 col-xs-8">
        <div class="col-xs-10">
          <%= form_tag items_path, :method => 'get' do %>
          
              <%= text_field_tag :Search, params[:search],
                              name: 'search',
                              placeholder: 'Search Vegetables',
                              class: 'search-box' %>
        </div>
        <div class="col-xs-2">
            <%= submit_tag :Search, :name => nil, class: 'btn btn-success btn-lg' %>
        </div>
        <% end %>
      </div>
</div>
  
</div>


<!-- Item-filter menu -->
<div class="row">
  <div class="col-xs-12">
       <%= render 'layouts/store_items' %>
   </div>
</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= will_paginate @item %>
    </div>
</div>


<!-- The following code is for each item displayed -->
<div class="row">

    <div class="col-xs-12 col-md-9 col-lg-9">
      <% @item.each do |item| %>
        <div class="col-xs-12 col sm-3 col-md-3 col-lg-4 item-container">
            <p>
              <%= link_to title_price(item), '#', class: 'fancy-title' %> 
            </p>
            <br />
              <%= link_to image_tag(item.url, alt: 'product image',
                                                    class: 'img-index'),
                                                    item_path(item.id) %>

            <div class="row">
              <div class="col-xs-12">
                  <nav class="navbar navbar-default">
                      <ul class="nav nav-pills nav-stacked">
                        <li> 
                            <%= link_to 'Add to Cart', "/cart/#{item.id}", class: 'small-links' %>  
                        </li>
                        <% if logged_in? %>
                            <li> <%= link_to 'Edit', edit_item_path(item), 
                                                     class: 'small-links'  %> 
                            </li>
                        <% end %>
                      </ul>
                  </nav>
                </div>
                
                
<!-- Only adminastrator can see this table -->
                <% if logged_in? && current_user.admin? %>
                      <div class="row">
                          <div class="col-xs-12">
                              <table class="table tiny-font">
                                <tr>
                                  <th> Fat Level  </th>
                                  <th> Sugar Content  </th>
                                  <th> Contains Nuts  </th>
                                  <th> Protein Level  </th>
                                </tr>
                                
                                  <td> <%= item.fat_level %> </td>
                                  <td> <%= item.sugar_comtent %> </td>
                                  <td> <%= item.contains_nuts %> </td>
                                  <td> <%= item.protein_level %> </td>
      
                              </table>
                          </div>
                      </div>
                <% end %>
            </div>
            
        </div>
      <% end %>
    </div>
    
    
<!-- Recommendation Sectiion -->
    <div class="col-xs-12 com-md-4 col-lg-2">
      <div class="rec-sect">
        <p class="main-headings">
          Want a recommendation?
        </p>
        <p class="normal-para">
          Not sure what the right food is for you? Don't worry, we
          have experts at hand to help you deciede.
        </p>
        <div>
            <p>
              <h1> 3
                <small style="font-size: 40px;"> 
                  questions</small>
              </h1>
              <p style="font-size: 25px; margin-top: -15px;">
                That's all it takes
              </p>
              <p>
                With just three answers to our simple questions about your food
                preferences, we can recommend a mixed fruit and vegetable juice!
                <br />
                <br />
                <span>Tailored to your needs!</span>
              </p>
              <p class=>
                If your interested, just <%= link_to 'click here', question_path %>
                and within a jiffy we'l have your ideal mix!
              </p>
            </p>
        </div>
      </div>
    </div>
    
</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <%= will_paginate @item %>
    </div>
    

</div>



