<div class="row">
    <div class="col-xs-12">
        
        
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 fancy-title text-center">
                Three Short Questions
                <hr style="border-color: #3b2e18" />
            </div>
        </div>
        
        <%= form_tag recommendation_path, :method => 'get' do %>
        
        <div class="row">
            <div class="col-xs-4 text-center">
                <h3 class="numer-title"> 1 </h3>
            </div>
            <div class="col-xs-4 text-center">
                <h3 class="numer-title"> 2 </h3>
            </div>
            <div class="col-xs-4 text-center">
                <h3 class="numer-title"> 3 </h3>
            </div>
        </div>
        
        <div class="row">
            <!-- Question One -->
            <div class="col-xs-4">
               <center>
                     <h3> Do you prefer a high-protein juice? </h3> 
                </center>
                <br />
                <center>
                    <div class="form-group">
                        <%= radio_button_tag(:Q1, 'Yes') %>
                        <%= label_tag(:Q1_strength, 'I want to a high-protein
                                                     juice') %>
                    </div>
                    <div class="form-group">
                        <%= radio_button_tag(:Q1, 'No') %>
                        <%= label_tag(:Q1_waight, 'I want a low-protein juice') %>
                    </div>
                </center>
            </div>  
            
            <!-- Question Two -->
            <div class="col-xs-4">
               <center>
                     <h3> Are you allergic to nuts? </h3> 
                </center>
                <br />
                <center>
                    <div class="form-group">
                        <%= radio_button_tag(:Q2, 'Yes') %>
                        <%= label_tag(:Q2_strength, 'I am allergic to nuts') %>
                    </div>
                    <div class="form-group">
                        <%= radio_button_tag(:Q2, 'No') %>
                        <%= label_tag(:Q2_waight, 'I am not allergic to nuts') %>
                    </div>
                </center>
            </div> 
            
            <!-- Question Three -->
            <div class="col-xs-4">
               <center>
                     <h3> Do you prefer your juice to be low-fat? </h3> 
                </center>
                <br />
                <center>
                    <div class="form-group">
                        <%= radio_button_tag(:Q3, 'Yes') %>
                        <%= label_tag(:Q3_yes, 'I would like my juice to
                                                be low-fat') %>
                    </div>
                    <div class="form-group">
                        <%= radio_button_tag(:Q3, 'No') %>
                        <%= label_tag(:Q3_no, 'I do not mind') %>
                    </div>
                </center>
            </div> 

        </div>
        
        <div class="row">
             <div class="col-xs-4 col-xs-offset-4">
                     <%= submit_tag :Finished, class: "btn btn-lg btn-success,
                                                       center-block" %>
             </div>
        </div>
        
        <% end %>
        
                            



