    <div class="row">
        <div class="col-xs-4">
            <%= for a in 0..@myTitleList.count do %>
            
              <h5> Title: <%= @myTitleList[a] %>  <br>
                   Sugar Content: <%=@mySugarContentList[a] %> <br />
                   Fat Level: <%= @myFatLevelList[a] %> 
                   </h5>
                   <%= a +=1 %>
                   
            <% end %>
        </div>
         
                  <div class="col-xs-4">
                      <%= for x in @myTitleList do %>
                      <div class="row">
                          <div class="col-xs-12 recommend-container">
                              <h4 class='text-center'>
                                  We Recommend: <br />
                                  <%= "#{x}" %>
                                  
                              </h4>
                               <% g = Item.find_by(title: x) %>
                               <%= image_tag "#{g.url}", alt: 'hello',
                                   class: 'img-small center-block'%>
                          </div>
                      </div>
                      <% end %>
                  </div>
<% if logged_in? && current_user.admin? %>
    <%= @myHash %>  
<% end %>
     </div>           

