


<div class="row">
    <div class="col-xs-10">
        
        <div class="row">
            <div class="col-xs-8">
                <nav>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a> Pictures </a>
                        </li>
                        <li>
                            <a id="nutrition-tab"> Nutrition Information </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        
        
        <div class="row">
            
            <div class="col-xs-8">
                <div style= "height: 375px;">
                    
                    <%= image_tag(@item.url, alt: 'product image',
                                               class: 'img-borders',
                                               id: 'lg-img') %>
                </div>
            </div>
            
            
<!-- Side item photos and nutritional information -->
            <div class="col-xs-3" id="side-container">
                
                <div class="row">
                    <div class="col-xs-12">
                        <div style=" height: 125px;">
                            <%= image_tag(@item.url_2, 
                                           alt: 'product image',
                                           class: 'img-small',
                                           id: 'sm_img_1') %>
                       </div>
                   </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div style=" height: 125px;">
                            <%= image_tag(@item.url_3, 
                                           alt: 'product image',
                                           class: 'img-small',
                                           id: 'sm_img_2') %>
                        </div>
                    
                </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div style=" height: 125px;">
                            <%= image_tag(@item.url_4, 
                                           alt: 'product image',
                                           class: 'img-small',
                                           id: 'sm_img_3') %>
                       </div>
                    
                </div>
                </div>
            </div>
            
        </div>
        
        
        <div class="row">
            <div class="col-xs-12">
                <h2 class="fancy-title"> <%= @item.title %> - 
                                         <%= @item.price %>
                </h2>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-xs-8">

                
                <p class="veg-des">
                    <%= @item.description %>
                </p>
            </div>
            
            
            <div class="col-xs-4">
                <nav>
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <%=link_to 'Add to cart', cart_path %>
                            <% if logged_in? %>
                                <%= link_to 'Edit', edit_item_path %>
                            <% end %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        
<!-- Nutrition Label -->
        <div class="row">
            <div class="col-xs-3">
                <did id="test1">
               </div>
        </div>  

       
    </div>
</div>



<script>

/* The following function is a Jquery plugin
   titled Nutrition-Label by Github user Nutritionix.
   The purpose of this function is to create a 
   nutrition label template, which dispays statitics
   about a product.
   Scoure: https://github.com/nutritionix/nutrition-label
*/
    
    $('#test1').nutritionLabel({
	'showServingUnitQuantity' : false,
	'itemName' : '<%= @item.title %>',
	'ingredientList' : 'Bleu Cheese Dressing',

	'showPolyFat' : false,
	'showMonoFat' : false,

	'valueCalories' : '<%= @item.valueCalories %>',
	'valueFatCalories' : '<%= @item.valueFatCalories %>',
	'valueTotalFat' : '<%= @item.valueTotalFat %>',
	'valueSatFat' : '<%= @item.valueSatFat %>',
	'valueTransFat' : '<%= @item.valueTransFat %>',
	'valueCholesterol' : '<%= @item.valueCholesterol %>',
	'valueSodium' : '<%= @item.valueSodium %>',
	'valueTotalCarb' : '<%= @item.valueTotalCarb %>',
	'valueFibers' : '<%= @item.valueFibers %>',
	'valueSugars' : '<%= @item.valueSugars %>',
	'valueProteins' : '<%= @item.valueProteins %>',
	'valueVitaminA' : '<%= @item.valueVitaminA %>',
	'valueVitaminC' : '<%= @item.valueVitaminC %>',
	'valueCalcium' : '<%= @item.valueCalcium %>',
	'valueIron' : '<%= @item.valueIron %>'
});


$(document).ready(function() {

    
    
//    Source-change for small image 1 when mouse rolls over 
         $('#sm_img_1').on("mouseenter", function() {
            $('#lg-img').fadeOut(300, function(){
                $('#lg-img').attr( {src: "<%= asset_path @item.url_2 %>"} ).bind('onreadystatechange load', function(){
                   if (this.complete) $(this).fadeIn(300);
                });
            });
         });
//    Source-change for small image 2 when mouse rolls over 

          $('#sm_img_2').on("mouseenter", function() {
            $('#lg-img').fadeOut(300, function(){
                $('#lg-img').attr( {src: "<%= asset_path @item.url_3 %>"} ).bind('onreadystatechange load', function(){
                   if (this.complete) $(this).fadeIn(300);
                });
            });
         });
//    Source-change for small image 3 when mouse rolls over 

         $('#sm_img_3').on("mouseenter", function() {
            $('#lg-img').fadeOut(300, function(){
                $('#lg-img').attr( {src: "<%= asset_path @item.url_4 %>"} ).bind('onreadystatechange load', function(){
                   if (this.complete) $(this).fadeIn(300);
                });
            });
         });
         
    $('.img-small').mouseleave(function() {
        $('#lg-img').fadeOut(300, function(){
           $('#lg-img').attr({src: "<%= asset_path @item.url %>"}).bind('onreadystatechange load', function(){
              if (this.complete) $(this).fadeIn(300);
           });
        });
    });
});


</script>

