<div class="row">
    
    <div class="col-xs-4 col-xs-offset-4">
         <center> <h3> Juice Mix List </h3> </center>
    </div>
            
    <div class="col-xs-12">
        <%= render 'layouts/juice_list' %>
    </div>
</div>