@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.a {
    color: #3b2e18;
}

/*  Form Spacing  */
.form-space {
    margin-bottom: 20px;
}

/*  Veg-menu box */

.veg-box {
    background-color: green;
}

.veg-box h3 {
    padding: 35px 35px 35px 35px;
    background-image: url(tomato_group_resize.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}
.veg-box a {
    font: Helvetica;
    color: #ffffcc;
    font-size: 28px;
    border-radius: 4px;
}
.acc_sum {
    float: right;
    border-left: 1px groove black;
    padding-left: 10px;
    font-size: 11px;
    line-height: 2em;
}
.product_con {
    width: 90%;
    margin: 0 auto;
    background-color: #cea73f;
}
.item-container {
    border: 1px groove black;
    border-radius: 3px;
    margin: 15px 15px 15px 15px;
    background-color: #f6eaca;
}
.fancy-title {
    font-family: Helvetica;
    color: #db9d09;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.con-mod {
    background-color: #f6eaca;
    margin-top: 20px;
    border-radius: 10px;
}
.veg-des {
    font-size: 15;
    font-family: Verdana;
    color: #3b2e18;
    line-height: 1.5em;
}

/* Pages headings and section headings shall have this style */
.main-headings {
    font-size: 28px;
    font-family: Helvetica;
    color: #3b2e18;
    border-bottom: 1px ridge #3b2e18 ;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.normal-para {
    font-size: 13px;
}

/* These change the colour and size of the site's links */
.small-links {
    color: #3b2e18;
    font-size: 11px;
}
.medium-links {
    color: #db9d09;
    font-size: 16px;
    font: Bodoni;
}
.large-links {
    color: #db9d09;
    font-size: 21px;
    font: Bodoni;
}

/*  Stlying for cart page  */
.cart-box {
    border: 3px groove #3b2e18;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
}
.center-ele {
    margin: 0 auto;
    width: 80%;
}
.search-box {
    border:0.5px groove black;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}
.banner-image {
    background-image:url('rasberry_group.png');
    border-radius: 5px;
    repeat: no-repeat;
}
.banner-title {
    font-family: Bodoni;
    font-size: 100px;
    padding-bottom: 10px;
    color: #f6eaca;
    letter-spacing: 0.2em;
    background-position: 10% -20%;
    margin-left: 23%;
    z-index: 5;
}
.banner-title-2 {
    font-family: Bodoni;
    font-size: 60px;
    color: #f6eaca;
    letter-spacing: 0.2em;
    margin-left: 40%;
    margin-top: 0%;
}
.intro-para {
    font-family: Verdana;
    font-size: 17px;
    color: #3b2e18;
    line-height: 1.8em;
    padding-bottom: 20px;
    border-bottom: 1px ridge #3b2e18;
    margin-bottom: 50px;
}
.user-profile {
    font-family: Bodoni;
    font-size: 12px;
    border: 3px groove #3b2e18;
}

/* Item Images */
.img-index {
    width: 80%
}

.img-small {
    width: 178px;
    height: 125px;
    border-top: 1px ridge #db9d09;
    border-bottom: 1px ridge #db9d09;
}
.img-borders {
    border: 3px ridge #db9d09;
}
#lg-img {
    position: absolute;
    width: 600px;
    height: 375px;
}
.rec-sect {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px ridge #3b2e18;
    h1 {
        font-size: 80px;
    }
}
#myClass {
    color: blue;
    font-size: 20px;
}
.tiny-font {
    font-size: 10px;
}
.recommend-container {
    padding: 5px;
    margin: 5px;
    border: 3px ridge #db9d09;
    border-radius: 3px;
}
.img-click-border {
    border-top: 4px ridge #db9d09;
    border-bottom: 4px ridge #db9d09;
}
.numer-title {
    font-size: 35px;
    color: black;
}
.footer-class {
    background-color: #383734;
    color: #f6eaca;
}
.icon-size {
    width: 50px;
}
@media only screen and (max-width: 150px) {

    .img-index {
        width: 100%;
    }
}
