<div class="row footer-class">
    <div class="col-xs-12">
        <div class="col-xs-4" style="border-right: 1px solid #f6eaca">
            <h5> Need to get in touch? </h5>
            <p style="font-size: 12px">
                You can contact us by these methods:
                <br />
                Email: naturewell@gmail.ie
                <br />
                Phone Number: 071643231
                <br />
                Address: Talbot Street, <br />
                         Dublin City, <br />
                         Ireland
                
            </p>
        </div>
        <div class="col-xs-4" style="border-right: 1px solid #f6eaca">
            <h5> Need Help? </h5>
            <p style="font-size: 12px">
                These links provide information in relation to who
                we are and what we do.
                <br />
                <div class="col-xs-4">
                    <%= link_to 'About', about_path %> <br /> 
                </div>
                 <div class="col-xs-4">
                    <%= link_to 'Help', help_path %> <br />
                </div>
                <div class="col-xs-4">
                    <%= link_to 'FAQ', faq_path %> <br />
                </div>
            </p>
        </div>
        <div class="col-xs-4" style="border-right: 1px solid #f6eaca">
            <h5> Follow us on social media <br />
                <small>
                    And keep up to date with us
                </small>
                <br />
                <br />
                <div class="col-xs-4">
                    <%= image_tag('facebook_icon.png',
                                  alt: 'facebook icon',
                                  class: 'icon-size') %>
                </div>
                <div class="col-xs-4">
                    <%= image_tag('twitter_icon.png',
                                  alt: 'facebook icon',
                                  class: 'icon-size') %>
                </div>
                <div class="col-xs-4">
                    <%= image_tag('instagram_icon.png',
                                  alt: 'facebook icon',
                                  class: 'icon-size') %>
                </div>
            </h5>
            
        </div>
    </div>
</div>