<row>
    <div class="col-lg-12" style="background-color: #f6eaca;">
        <nav class="navbar" stlye="margin-top: 20px; border-bottom: 1px rigid #3b2e18">
            <ul class="nav nav-pills nav-justified large-links">
                <li>
                    <%= link_to 'Home', root_url %>
                </li>
                <li>
                    <%= link_to 'Store', items_path %>
                </li>
                <li>
                    <%= link_to 'Recommendation', question_path %>
                </li>
                <li>
                    <a href="#"> Help </a>
                </li>
            </ul>
        </nav>
        
        <hr style="border-color:#3b2e18"/>
        
    </div>
</row>



