
<div class="row">
    
    <div class="row">
        <div class="col-xs-12">
            
            <table class="table tiny-font">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Sugar Content
                    </th>
                    <th>
                        Fat Level
                    </th>
                    <th>
                        Contains Nuts
                    </th>
                    <th>
                        Mixture
                    </th>
                    <th>
                        Ingredients
                    </th>
                    <th>
                        Catergory
                    </th>
                
                    <% @item.each do |item| %>
                        <% if item.catergory == 'Juice'%>
                        
                            <tr>
                                <td>
                                   <%= item.title %>
                                </td> 
                                <td>
                                   <%= item.sugar_comtent %>
                                </td> 
                                <td>
                                   <%= item.fat_level %>
                                </td> 
                                <td>
                                   <%= item.contains_nuts %>
                                </td> 
                                <td>
                                    <%= item.mixture %>
                                </td>
                                <td>
                                   <%= item.ingredients %>
                                </td> 
                                <td>
                                   <%= item.catergory %>
                                </td>
                             </tr>
                        <% else %>
                        <% end %>
                    <% end %>
                    
            </table>
        </div>
    </div>
</div>