<style>

ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 0.5px solid #3b2e18;
}

</style>

    <% j = 'juices' %>
    <% v = 'vegetables' %>
    <% f = 'fruits' %>

<nav class="item-nav">
    <ul class="small-links">
        <li> Show only:: </li>
        <li> <%= link_to j, :sort => j %> </li>
        <li> <%= link_to v, :sort => v %> </li>
        <li> <%= link_to f, :sort => f%> </li>
        <% if params[:sort] == 'juices' %>
            <li> >> </li>
            <li> Filter by: </li>
            <li> 
                <%= link_to 'low fat', :sort => 'juices', :filter => 'low fat'  %>
            </li>
            <li> 
                <%= link_to 'low sugar', :sort => 'juices', :filter => 'low sugar'  %>
            </li>
             <li> 
                <%= link_to 'no nuts/seeds', :sort => 'juices', :filter => 'no nuts'  %>
            </li>
        <% end %>
        

             

            
    </ul>
</nav>
