 
 <div class="row">
            <ul class="nav nav-pills pull-right small-links">
                
                <% if logged_in? %>
                   <li> <%= link_to 'Users', '#' %> </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"> </b>
                        </a>
                        <ul class="dropdown-menu">
                            <li> 
                                <%= link_to 'Change Settings', edit_user_url(@current_user)%>
                                <%= link_to 'Your Shopping Cart', cart_path %>
                                <%= link_to 'Log Out', logout_url %>
                            </li>
                        </ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin Options
                            </a>
                            <ul class="dropdown-menu">
                                <li> <%= link_to 'Add an Item', new_item_path %> </li>
                                <li> <%= link_to 'Juice Table', juice_table_path %> </li>
                                <li> <%= link_to 'Modify a Vegetable', '#'%> </li>
                                <li> <%= link_to 'User Index', users_path %> </li>
                            </ul>
                        </li>
                    </li>
                    
                    <% else %>
                        <li>
                            <%= link_to 'Log In', login_url %>
                        </li>
                        <li>
                            <%= link_to 'Register', new_user_url %>
                        </li>
                <% end %>
            </ul>
</div>