
        <div class="row">
            <div class="col-xs-4">
                <ul class="nav nav-pills nav-stacked">
                    <li> <%= link_to 'Vegetables', vegetables_path %> </li>
                    <li> <%= link_to 'Fruits', fruits_path %> </li>
                    <li> <%= link_to 'Nuts/Seeds', fruits_path %> </li>
                    <li> <%= link_to 'Juices', juices_path %> </li>
                </ul>
            </div>
        </div>
        
