
<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Veggie App </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <% if logged_in? %>
     <%= @current_user.name %>
    <% end %>
    <br />
    <% if logged_in? && current_user.admin? %>
        You have adminstrative powers
    <% end %>
    
    
    <div class="container con-mod">
    
      <%= render 'layouts/header' %>
      
      <%= render 'layouts/user_nav' %>
      
       <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
      
      
      <!-- Yield main content -->
      <div class="row">
          <div class="col-xs-12">
              <%= yield %>
          </div>
      </div>
        <% if logged_in? && current_user.admin? %>
            <%= debug(params) if Rails.env.development? %>
        <% end %>
        
        <%= render '/layouts/footer' %>
        
      </div>

  </body>
</html>
